.top-navbar-header-admin {
  .logo-icon {
      img {
        width: 180px;
        height: 32px;
      }
  }
  .sub-header {
    height: 46px;
    background: #2f323e;
  }
}

.topbar {
  .logo-text {
    img {
      width: 190px;
    }
  }
}
