<div class="row">
  <div class="col-12">
    <%= link_to address.address, edit_address_path(address) %>
    <p><%= address.name %></p>
    <p><%= address.phone %></p>
    <p><%= address.address %></p>
  </div>  
</div>