<header>
  <div class="header-area">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper d-flex align-items-center justify-content-between">
          <div class="header-left d-flex align-items-center">
            <span class="logo-text">
              <%= link_to root_path do %>
                <%= image_tag("logo-text-2") %>
              <% end %>
            </span>
          </div>
          <div class="header-right1 d-flex align-items-center">
            <div class="search d-none d-md-block">
              <ul class="d-flex align-items-center">
                <li class="mr-15">
                  <div class="nav-search search-switch d-flex">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
