<li class="list-group-item d-flex justify-content-between lh-sm">
  <div class="col-xs-6">
    <h6 class="my-0"><%= order_items.product.name %></h6>
    <small class="text-muted">Price: <%= format_number_to_currency order_items.product.price %> đ</small>
  </div>
  <div class="col-xs-3">
    <span style="color: red;">x <%= order_items.quantity %></span>
  </div>
  <span class="text-muted col-xs-12"><%= format_number_to_currency order_items.total_price %> đ</span>
</li>
