<% provide :title, "User" %>
<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <div class="table-responsive">
        <table class="table text-nowrap">
          <thead>
            <tr>
              <th class="border-top-0">Id</th>
              <th class="border-top-0">Name</th>
              <th class="border-top-0">Email</th>
              <th class="border-top-0">Phone</th>
              <th class="border-top-0">Gender</th>
              <th class="border-top-0">Role</th>
              <th class="border-top-0">Active</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "admin/users/user", collection: @users %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <%= paginate @users, window: 2 %>
        </div>
      </div>
    </div>
  </div>
</div>
