<% provide :title, "User" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-12">
      <div class="white-box">
        <div class="user-bg">
          <%= image_tag("img1") %>
          <div class="overlay-box">
            <div class="user-content">
              <a href="javascript:void(0)">
                <%= image_tag("varun", class: "thumb-lg img-circle") %>
              </a>
              <h4 class="text-white mt-2"><%= @user.name %></h4>
              <h5 class="text-white mt-2"><%= @user.email %></h5>
            </div>
          </div>
        </div>
        <div class="user-btm-box mt-5 d-md-flex">
          <div class="col-md-4 col-sm-4 text-center">
            <h1>258</h1>
          </div>
          <div class="col-md-4 col-sm-4 text-center">
            <h1>125</h1>
          </div>
          <div class="col-md-4 col-sm-4 text-center">
            <h1>556</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-12">
      <div class="card">
        <div class="card-body">
          <h1>Profile user</h1>
        </div>
      </div>
    </div>
  </div>
</div>
